importFrom( colorRamps, matlab.like2 )
importFrom( colorRamps, blue2green )
importFrom( gplots, heatmap.2 )
importFrom( gtools, permute )
importFrom( pamr, pamr.train )
importFrom( pamr, pamr.cv )
importFrom( pamr, pamr.predict )
importFrom( randomForest, randomForest )
importFrom( randomForest, importance )
importFrom( Boruta, Boruta)
importFrom( caret, createFolds )
importFrom( caret, createResample )
import( penalizedSVM )
importFrom( tgp, lhs )
importFrom( mlegp, mlegp )
import( igraph )
import( ROCR )
import( gbm )
import( pROC )
import( parallel )
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "boxplot", "legend", "text",
             "title")
importFrom("stats", "as.dendrogram", "as.formula", "dist", "hclust",
             "mad", "median", "predict", "quantile", "rnorm")
importFrom("utils", "write.csv", "write.csv2")
exportPattern("^[[:alpha:]]+")
